html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(0deg, rgba(25,22,33,1) 0%, rgba(2,1,17,1) 100%);
    color: #fff;
}
#divImg{
    display: none;
}
#imgNFT{
    width: 20rem;
}
main{
    display: flex;
    justify-content: center;
}
footer{
    display: grid;
    justify-content: center;
}
#nftNome{
    text-orientation: sideways;
    writing-mode: vertical-rl;
}
#formMint{
    background-color: #ffffff80;
    border-radius: 5px;
    padding: 2rem;
    width: fit-content;
}